.work {
  padding-top: 0px;
}

.work-list {
  display: flex;
}

.work-list-item {
  width: calc((100%-60px) / 3);
}

.work-list-item:not(:last-child) {
  margin-right: 30px;
}

.section-title.centred {
  text-align: center;
}

.work-wrapper {
  display: block;
  position: relative;
}

.work-overlay {
  display: flex;
  position: absolute;

  width: 100%;
  height: 23.81%;

  left: 0;
  bottom: 0;

  padding-top: 27px;
  padding-bottom: 27px;

  justify-content: center;
  text-align: center;
  align-items: center;

  background-color: rgba(47, 48, 58, 0.8);
}

.work-overlay .subtitle {
  display: block;
  position: absolute;
  color: $white-text-color;
}
