html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $primary-background-color;
  color: $primary-text-color;

  font-family: $main-font;
  /*font-style: normal;*/
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &-title.centred {
    text-align: center;
  }

  &.nopadding {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}
